.btnPlay {
    display: block;
    margin: 20px auto;
    background-color: #181a22;
    color: #eee;
    padding: 5px 10px;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: 0 10px 10px #0006;
}

.endGame {
    opacity: 0;
    animation: showHome 1s .3s ease-in-out 1 forwards;
}

.endGame .result {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: center;
    font-size: 20px;
    text-shadow: 0 10px 10px #000;
}

.endGame .number {
    font-size: 50px;
}

@keyframes showHome {
    to{
        opacity: 1;
    }
}