* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background: radial-gradient(#3a3a42, #dcdcf3);
  height: 100vh;
  font-family: Poppins;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
